

.widget-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #404040;
    font-weight: 600;
    text-align: start;
}


.widget-area {
    padding-top: 2rem;
    padding-left: 3.5rem;
}

.widget-area a{
    color: #248a83;
    text-decoration: none;
    font-size: 1.2rem;
}

.contact i {
    padding-right: .5rem;
}

.widget_archive ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.day-of-week {
    font-weight: bold;
}

aside{
    font-size: 1.15rem
    }

